{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "challanges/challanges.css" %}">
    <link rel="stylesheet" href="{% static "challanges/includes/header.css" %}">
{% endblock css_files %}
{% block title_text %}
    Month Name
{% endblock title_text %}
{% block content %}
{% include "./includes/header.html" with active_page="Index" %}
    <ul>
        {% for month in months %}
            <li>
                <a href="{% url 'month-path' month %}">{{ month|title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
