{% extends 'auth_demo/base.html' %}
{% block title %}Delete Account{% endblock title %}
{% block content %}
<h3 class="text-center">Enter your password to delete your account</h3>
<hr>
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
        <form action="{% url 'delete-account' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <div class="form-group my-2">
                        <input type="password" name="password" class="form-control" placeholder="Your Password" required/>
                    </div>
                    <button type="submit" class="btn btn-success my-3">Delete Account</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}